@import "./scss/header.scss";
@import "./scss/nav.scss";
@import "./scss/layout.scss";
@import "./scss/elements.scss";

body {
  background-color: black;
  color: white!important;
}

.fw-800 {
  font-weight: 400;
}