.container-tweet_button {
    padding: 10px;
    border: 1px solid white;
    a {
        color: white;
        text-decoration: none;
        transition: 0.5 ease-in-out;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-weight: 800;
        &:hover {
            color: rgba(255, 255, 255, 0.83);
 
        }
    }
}